<%= render 'users/new', users: @users %>

        <% if from redirect_to %>
            <p>Welcome! You have signed up successfully.</p>
        <% end %>

        <h1>Books</h1>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            <tr>
                <td>user_image</td>
                <td>book_title</td>
                <td>book_body</td>
            </tr>
        </table>

		</div>
	</div>
</div>
