<%= render 'users/new', users: @users %>

    <%= form_with model:@user, local:true do |f| %>
        <%= notice %>
        <% if @user.errors.any? %>
          <p>error!!</p>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>


        <h1>Books</h1>
        <table>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            <% @user.each do |user| %>
                <tr>
                    <td>user.profile_image</td>
                    <td>user.book_title</td>
                    <td>user.book_body</td>
                </tr>
            <% end %>
        </table>
    <% end %>

		</div>
	</div>
</div>
