<%= render 'users/new', users: @users %>
    <h1>Books</h1>
        <table border-bottom>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Opinion</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td><%= user.profile_image %></td>
                    <td><%= user.book_title %></td>
                    <td><%= user.book_body %></td>
                </tr>
            <% end %>
        </table>


		</div>
	</div>
</div>
