// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.col-xs-9 {
  margin-right: auto;
  margin-left: auto;
}